.wrap {


}
.item {
    display: flex;
    align-items: center;
    max-height: 80px;
    margin-bottom: 30px;
}
.hold {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 70px;
    margin-right: 40px;
}
.image {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background: #888;
    margin-bottom: 10px;
}
.name {
    text-align: center;
}
