.wrapper {
    padding: 15px 25px;
}
.container {
    display: flex;
}
.nameList {
    min-width: 100px;
    margin-right: 30px;
    padding-right: 30px;
    border-right: 1px solid blueviolet;
}

.title {
    margin-bottom: 20px;
}